body {
  margin: 0;
  padding: 0;
  background: #b2ebf2;
  text-transform: uppercase;
  font-family: 'Solway', serif;
}

img {
  width: 100px;
}

.main-game {
  padding: 2em;
  margin: 8em auto;
  max-width: 500px;
}

.game-options {
  display: flex;
  justify-content: center;
}

.game-options__el {
  margin: 1em;
  padding: 1em;
  background: #fff;
  border-radius: 2em;
}

.btn__start {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 0.2em;
  border-radius: 0.5em;
  font-size: 2rem;
  text-transform: uppercase;
}

.score-display {
  display: none;
}

.round-display {
  display: none;
}

.round-message {
  display: none;
}

.hide {
  display: none;
}

.show {
  display: unset;
}
